.App {
  margin: 24px 66px auto 66px; //top right bottom left
  padding: 0 28px 0 28px;
  font-family: var(--mainFont);
  color: var(--ozBlue);
  font-weight: var(--fontNormal);
  line-height: 18px;
  font-size: 14px;
}
