.deliverytime {
    color: var(--ozTextPrimary);
    line-height: var(--bodyLLine);
    margin-bottom: 42px;
    transform: translate(0, 128px);

    .deliverytime_header {
        font-weight: var(--fontBold);
        @media (max-width: 580px) {
            font-size: var(--bodyMFont);
            font-weight: 400;
            color: var(--ozTextPrimary);
            background-color: var(--ozBGPrimary);
            border: 7px solid var(--ozBGPrimary);
            border-radius: 15px;
            padding-left: 5px;
            width: 125px;
            position: absolute;
            transform: translate(260px, 65px);
            display: inline;
        }
    }
    .deliverytime_button {
        transform: translate(-6px, 10px);

        label {
            line-height: 19px;
            font-size: var(--bodyLFont);
            line-height: var(--bodyLLine);
            &:hover {
                cursor: pointer;
            }
        }

        input {
            z-index: 100;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            margin-top: 5px;
            transform: translate(1.5px, 0);
            border: 2px solid var(--ozSeparator);
            transition: 0.05s all linear;

            margin-right: 6px;
            cursor: pointer;
            position: relative;
            top: 3.1px;
            &:hover {
                border: 2px solid var(--ozAccentPrimaryLight);
            }

            &:hover + .circle {
                .deliverytime_button_first {
                    width: 1px;
                    height: 2px;
                }
                position: absolute;
                width: 9px;
                height: 9px;
                border-radius: 50%;

                background-color: var(--ozAccentPrimaryLight);
                border: 2px solid white;

                transform: translate(-19px, 9.5px);
            }
        }

        input:checked {
            border: 2px solid var(--ozAccentPrimaryLight);
            &:checked + .circle {
                position: absolute;
                border-radius: 50%;
                width: 8px;
                height: 8px;
                transform: translate(-18.5px, 10px);
                background-color: var(--ozWhite);
                border: 2px solid var(--ozAccentPrimary);
            }
            &:hover {
                border: 4px solid var(--ozAccentPrimary);
            }
        }
        @media (max-width: 580px) {
            display: none;
        }
    }
}
.rocket {
    transform: translate(0.5px, 4px);
    margin-right: 4px;
    color: rgb(0, 162, 255);
}
