:root {
  --viewport-vertical-indention: 50px;
  --content-padding: 48px;
  --wide-content-padding-vertical: 64px;
  --max-width-content: 960px;
  --min-width-content: 392px;
  --arrow-size-s-side: 12px;
  --s-container-width: 90px;
  --s-star-width: 14px;
  --s-star-height: 14px;
  --s-star-margin: 1px;
  --s-star-padding: 1px;
  --m-container-width: 90px;
  --m-star-width: 16px;
  --m-star-height: 16px;
  --m-star-margin: 1px;
  --m-star-padding: 0;
  --l-container-width: 140px;
  --l-star-width: 20px;
  --l-star-height: 20px;
  --l-star-padding: 1px;
  --l-star-margin: 3px;
  --xl-container-width: 220px;
  --xl-star-width: 32px;
  --xl-star-height: 32px;
  --xl-star-padding: 4px;
  --xl-star-margin: 2px;
  --minus-one: -1;
  --spacing2: 2px;
  --spacing4: 4px;
  --spacing8: 8px;
  --spacing12: 12px;
  --spacing16: 16px;
  --spacing20: 20px;
  --spacing24: 24px;
  --spacing28: 28px;
  --spacing32: 32px;
  --spacing36: 36px;
  --spacing40: 40px;
  --spacing44: 44px;
  --spacing48: 48px;
  --spacing52: 52px;
  --spacing56: 56px;
  --spacing60: 60px;
  --spacing64: 64px;
  --spacing68: 68px;
  --spacing72: 72px;
  --spacing76: 76px;
  --spacing80: 80px;
  --spacing84: 84px;
  --spacing88: 88px;
  --spacing92: 92px;
  --spacing96: 96px;
  --spacing100: 100px;
  --spacing104: 104px;
  --spacing108: 108px;
  --spacing112: 112px;
  --spacing116: 116px;
  --spacing120: 120px;
  --ozCtrlPrimary: #005bff;
  --ozCtrlPrimaryPale: rgba(0, 150, 255, 0.08);
  --ozCtrlSale: #f91155;
  --ozCtrlSalePale: rgba(255, 92, 140, 0.08);
  --ozCtrlMarketing: #5b51de;
  --ozCtrlMarketingPale: rgba(91, 81, 222, 0.08);
  --ozCtrlPositive: #10c44c;
  --ozCtrlPositivePale: rgba(29, 237, 97, 0.12);
  --ozCtrlWarning: #ffb800;
  --ozCtrlWarningPale: rgba(255, 213, 64, 0.12);
  --ozCtrlNegative: #f53c14;
  --ozCtrlNegativePale: rgba(245, 60, 20, 0.06);
  --ozCtrlFresh: #00bfbf;
  --ozCtrlFreshPale: rgba(0, 191, 191, 0.1);
  --ozCtrlNeutralPale: rgba(0, 48, 120, 0.04);
  --ozTextAction: #005bff;
  --ozTextSale: #f91155;
  --ozTextMarketing: #5b51de;
  --ozTextPositive: #10c44c;
  --ozTextWarning: #ffa800;
  --ozTextNegative: #f53c14;
  --ozTextFresh: #00a6a6;
  --ozTextPrimary: #001a34;
  --ozTextSecondary: #707f8d;
  --ozTextQuaternary: #96a3ae;
  --ozTextPrimaryNegative: #fff;
  --ozBGPrimary: #f2f5f9;
  --ozBGSecondary: #fff;
  --ozBGTertiary: #fff;
  --ozBGQuaternary: #b3bcc5;
  --ozBGPrimaryInverse: #eff3f6;
  --ozBGSecondaryInverse: #fff;
  --ozBGNotification: rgba(0, 26, 52, 0.9);
  --ozHoverPrimary: #0050e0;
  --ozHoverPrimaryPale: rgba(0, 150, 255, 0.12);
  --ozHoverSale: #e00f4e;
  --ozHoverSalePale: rgba(255, 92, 140, 0.12);
  --ozHoverMarketing: #4e46bf;
  --ozHoverMarketingPale: rgba(91, 81, 222, 0.12);
  --ozHoverPositive: #0ead43;
  --ozHoverPositivePale: rgba(29, 237, 97, 0.2);
  --ozHoverWarning: #f0a000;
  --ozHoverWarningPale: rgba(255, 213, 64, 0.24);
  --ozHoverNegative: #db3612;
  --ozHoverNegativePale: rgba(245, 60, 20, 0.12);
  --ozHoverNeutral: #0e365f;
  --ozHoverNeutralPale: rgba(0, 48, 120, 0.08);
  --ozHoverFresh: #099;
  --ozHoverFreshPale: rgba(0, 191, 191, 0.16);
  --ozGradientAccentStart: #fda14d;
  --ozGradientAccentEnd: #fd4df6;
  --ozGradientAccent: linear-gradient(
    to bottom right,
    var(--ozGradientAccentStart) 15%,
    var(--ozGradientAccentEnd) 95%
  );
  --ozGradientAccent2Start: #fd65ee;
  --ozGradientAccent2End: #7a65fd;
  --ozGradientAccent2: linear-gradient(
    to bottom right,
    var(--ozGradientAccent2Start) 0%,
    var(--ozGradientAccent2End) 100%
  );
  --ozButtonGradientStart: #798bf9;
  --ozButtonGradientEnd: #e16abd;
  --ozButtonGradientDefault: linear-gradient(
    to right,
    var(--ozButtonGradientStart) 0%,
    var(--ozButtonGradientEnd) 100%
  );
  --ozWhite: #fff;
  --ozCoPurchase: #ff3e3e;
  --ozTrafaret: rgba(91, 81, 222, 0.08);
  --ozRating: #ffb800;
  --ozSeparator: rgba(204, 214, 228, 0.6);
  --ozParandja: rgba(14, 50, 103, 0.04);
  --ozParandjaHover: rgba(14, 50, 103, 0.08);
  --ozShadowSpread: rgba(0, 26, 52, 0.16);
  --ozDimming: rgba(3, 8, 13, 0.6);
  --ozButtonVideoControl: rgba(3, 8, 13, 0.48);
  --ozButtonGradientHoverOverlay: rgba(0, 0, 0, 0.08);
  --ozWhiteOverlay: hsla(0, 0%, 100%, 0.8);
  --ozWhiteOverlay2: hsla(0, 0%, 100%, 0.6);
  --ozWhiteOverlay3: hsla(0, 0%, 100%, 0.4);
  --ozdtCtrlPrimary: #005bff;
  --ozdtCtrlPrimaryPale: rgba(0, 150, 255, 0.16);
  --ozdtCtrlSale: #f91155;
  --ozdtCtrlSalePale: rgba(255, 92, 140, 0.16);
  --ozdtCtrlMarketing: #5b51de;
  --ozdtCtrlMarketingPale: rgba(91, 81, 222, 0.24);
  --ozdtCtrlPositive: #10c44c;
  --ozdtCtrlPositivePale: rgba(29, 237, 97, 0.16);
  --ozdtCtrlWarning: #ffb800;
  --ozdtCtrlWarningPale: rgba(255, 213, 64, 0.16);
  --ozdtCtrlNegative: #f53c14;
  --ozdtCtrlNegativePale: rgba(245, 60, 20, 0.12);
  --ozdtCtrlNeutral: #f2f5f9;
  --ozdtCtrlNeutralPale: hsla(0, 0%, 100%, 0.06);
  --ozdtCtrlFresh: #00bfbf;
  --ozdtCtrlFreshPale: rgba(0, 191, 191, 0.16);
  --ozdtTextAction: #0096ff;
  --ozdtTextSale: #ff3c75;
  --ozdtTextMarketing: #8e86f9;
  --ozdtTextPositive: #1ded62;
  --ozdtTextWarning: #ffd540;
  --ozdtTextNegative: #ff5c52;
  --ozdtTextFresh: #00bfbf;
  --ozdtTextPrimary: #f2f5f9;
  --ozdtTextSecondary: #707f8d;
  --ozdtTextQuaternary: #515960;
  --ozdtTextPrimaryNegative: #fff;
  --ozdtHoverPrimary: #0050e0;
  --ozdtHoverPrimaryPale: rgba(0, 150, 255, 0.22);
  --ozdtHoverSale: #e00f4e;
  --ozdtHoverSalePale: rgba(255, 92, 140, 0.2);
  --ozdtHoverMarketing: #4e46bf;
  --ozdtHoverMarketingPale: rgba(91, 81, 222, 0.32);
  --ozdtHoverPositive: #0ead43;
  --ozdtHoverPositivePale: rgba(29, 237, 97, 0.2);
  --ozdtHoverWarning: #f0a000;
  --ozdtHoverWarningPale: rgba(255, 213, 64, 0.2);
  --ozdtHoverNegative: #db3612;
  --ozdtHoverNegativePale: rgba(245, 60, 20, 0.18);
  --ozdtHoverNeutral: #e4e9f0;
  --ozdtHoverNeutralPale: hsla(0, 0%, 100%, 0.1);
  --ozdtHoverFresh: #099;
  --ozdtHoverFreshPale: rgba(0, 191, 191, 0.22);
  --ozdtBGPrimary: #000;
  --ozdtBGSecondary: #1d2024;
  --ozdtBGTertiary: #2f3135;
  --ozdtBGQuaternary: #33485d;
  --ozdtBGPrimaryInverse: #161b20;
  --ozdtBGSecondaryInverse: #000407;
  --ozdtBGNotification: rgba(57, 70, 83, 0.9);
  --ozdtParandja: rgba(29, 32, 36, 0.1);
  --ozdtParandjaHover: rgba(0, 26, 52, 0.2);
  --ozWhite1: #fff;
  --ozWhite2: #eff3f6;
  --ozGray90: #d2d9df;
  --ozGray80: #b3bcc5;
  --ozGray70: #96a3ae;
  --ozGray60: #5a6c7d;
  --ozGray40: #3d5165;
  --ozGray30: #1a334e;
  --ozGray20: #21384f;
  --ozBlack: #001a34;
  --ozIndigoBrand: #090089;
  --ozIndigoBrandPale: #b5b2dc;
  --ozBluePale: #e5efff;
  --ozBlueLight: #99bdff;
  --ozBlue: #005bff;
  --ozBlueHover: #003ead;
  --ozBluePremium: #012250;
  --ozAquaBrandPale: #80d1ff;
  --ozAquaBrand: #00a2ff;
  --ozCatbirdEggBrandPale: #a9edf7;
  --ozCatbirdEggBrand: #28d1eb;
  --ozGreenBrandPale: #b4efe0;
  --ozGreenBrand: #06ca99;
  --ozGreenUiPale: #c8f8d6;
  --ozGreenUiLight: #7de9a1;
  --ozGreenUi: #10ad44;
  --ozGreenUiHover: #2d9d5c;
  --ozYellowBrand: #ffd540;
  --ozOrangePale: #fdcac0;
  --ozOrange: #ff8970;
  --ozJointPurchase: #ff3e3e;
  --ozRedPale: #ffe7ee;
  --ozRedLight: #ff92b2;
  --ozRed: #f91155;
  --ozRedHover: #a70031;
  --ozPurplePale: #cbaedd;
  --ozPurple: #7d36aa;
  --ozSeparatorDark: rgba(0, 26, 52, 0.16);
  --ozTransparent: hsla(0, 0%, 100%, 0);
  --ozGreen: #66bd09;
  --ozGreenPale: #c2eecf;
  --ozCtrlNeutral: #001a34;
  --ozAccentPrimary: #005bff;
  --ozAccentPrimaryLight: #99bdff;
  --ozAccentPrimaryPale: #ebf7ff;
  --ozAccentAlert: #f91155;
  --ozAccentAlertLight: #ff92b2;
  --ozAccentAlertPale: #fff2f6;
  --ozAccentSecondary: #10c44c;
  --ozAccentSecondaryLight: #7de9a1;
  --ozAccentSecondaryPale: #e3fcec;
  --ozTextTertiary: #3d5165;
  --ozAccentPrimaryHover: #0050e0;
  --ozAccentAlertHover: #e00f4e;
  --ozAccentSecondaryHover: #0ead43;
  --ozBGPrimaryHover: #e2e7ec;
  --ozExpressAccentPrimary: #00bfbf;
  --ozExpressAccentPrimaryLight: #80e5e5;
  --ozExpressAccentPrimaryPale: #d6f5f5;
  --ozExpressAccentPrimaryHover: #099;
  --ozPremiumBlue: #012250;
  --ozPremium: #012250;
  --ozCredit: #ffd540;
  --ozRipple: rgba(102, 117, 133, 0.3);
  --ozVzhuhPale: #e5f5ff;
  --ozWarningSecondary: rgba(255, 213, 64, 0.16);
  --ozLegalAccentPrimary: #5b51de;
  --ozLegalAccentPrimaryLight: #c5c1ff;
  --ozLegalAccentPrimaryPale: #e7e6ff;
  --ozLegalAccentPrimaryHover: #3a10b2;
  --ozdtAccentPrimary: #2e78ff;
  --ozdtAccentPrimaryLight: #273f67;
  --ozdtAccentPrimaryPale: #183347;
  --ozdtAccentAlert: #ff3c75;
  --ozdtAccentAlertLight: #7a243d;
  --ozdtAccentAlertPale: #412a34;
  --ozdtAccentSecondary: #10c44c;
  --ozdtAccentSecondaryLight: #27683b;
  --ozdtAccentSecondaryPale: #1d412e;
  --ozdtTextTertiary: #b1b9c2;
  --ozdtAccentPrimaryHover: #003ead;
  --ozdtAccentAlertHover: #a70031;
  --ozdtAccentSecondaryHover: #10c44c;
  --ozdtBGPrimaryHover: #0b1014;
  --outline: 0 0 1px 1px var(--ozBlue);
  --shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  --transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  --animation-loading-btn: blink 1s infinite ease-in-out;
  --will-change-btn: color, background-color, opacity;
  --scroll-bg-color: #dfdfdf;
  --scroll-thumb-color: var(--ozBlue);
  --boxShadow: 0 4px 16px 1px rgba(0, 26, 52, 0.16);
  --modal-gap-top: 40px;
  --modal-gap-vertical: 40px;
  --modal-gap: 20px;
  --desktop-screen-l: 1472px;
  --desktop-screen-old: 1330px;
  --desktop-screen-m: 1280px;
  --desktop-screen-s: 1200px;
  --mobile-screen: 320px;
  --mobile-padding: 16px;
  --gap: 24px;
  --spacing-xxl: 32px;
  --spacing-xl: 24px;
  --spacing-l: 16px;
  --spacing-m2: 12px;
  --spacing-m: 8px;
  --spacing-s: 6px;
  --spacing-xs: 4px;
  --spacing-xxs: 2px;
  --desktop-padding-m: 52px;
  --desktop-padding-default: 28px;
  --desktop-screen-default: var(--desktop-screen-l);
  --desktop-screen-default-old: var(--desktop-screen-m);
  --desktop-screen-default-without-paddings: 1416px;
  --desktop-screen-ally: 960px;
  --z-index-modal: 1000;
  --z-index-popover: 500;
  --mainFont: "GTEestiPro", arial, sans-serif;
  --fontBold: 700;
  --fontMedium: 500;
  --fontNormal: 400;
  --letter02: 0.2px;
  --letter04: 0.4px;
  --letter06: 0.6px;
  --letter08: 0.8px;
  --tabularNums: tabular-nums;
  --headXXLFont: 38px;
  --headXXLLine: 46px;
  --headXLFont: 30px;
  --headXLLine: 38px;
  --headLFont: 24px;
  --headLLine: 30px;
  --headMFont: 20px;
  --headMLine: 26px;
  --bodyXLFont: 20px;
  --bodyXLLine: 26px;
  --bodyLFont: 16px;
  --bodyLLine: 20px;
  --bodyMFont: 14px;
  --bodyMLine: 18px;
  --captionFont: 12px;
  --captionLine: 16px;
  --badgeXSFont: 10px;
  --badgeXSLine: 14px;
  --promoXXLFont: 80px;
  --promoXXLLine: 88px;
  --font700: 700;
  --font500: 500;
  --font400: 400;
}
