.squarecheck {
    color: var(--ozTextPrimary);
    font-size: var(--bodyLFont);
    line-height: var(--bodyLLine);
    margin-bottom: 42px;
    transform: translate(0, 126px);

    .squarecheck_header_bootsize {
        font-weight: var(--fontBold);
        @media (max-width: 580px) {
            font-size: var(--bodyMFont);
            font-weight: 400;
            color: var(--ozTextPrimary);
            background-color: var(--ozBGPrimary);
            border: 7px solid var(--ozBGPrimary);
            border-radius: 15px;
            padding-left: 5px;
            width: 325px;
            display: inline;
            position: absolute;
            transform: translate(330px, -12px);
            margin-left: 20px;
            width: 200px;
        }
    }
    .squarecheck_header_brand {
        font-weight: var(--fontBold);
        @media (max-width: 580px) {
            font-size: var(--bodyMFont);
            font-weight: 400;
            color: var(--ozTextPrimary);
            background-color: var(--ozBGPrimary);
            border: 7px solid var(--ozBGPrimary);
            border-radius: 15px;
            text-align: center;
            display: inline;
            transform: translate(-5px, 25px);
            width: 70px;
            position: absolute;
        }
    }
    .squarecheck_header_season {
        font-weight: var(--fontBold);
        @media (max-width: 580px) {
            font-size: var(--bodyMFont);
            font-weight: 400;
            color: var(--ozTextPrimary);
            background-color: var(--ozBGPrimary);
            border: 7px solid var(--ozBGPrimary);
            border-radius: 15px;
            text-align: center;
            display: inline;
            transform: translate(90px, 25px);
            width: 70px;
            position: absolute;
        }
    }
    .squarecheck_header_type {
        font-weight: var(--fontBold);
        @media (max-width: 580px) {
            font-size: var(--bodyMFont);
            font-weight: 400;
            color: var(--ozTextPrimary);
            background-color: var(--ozBGPrimary);
            border: 7px solid var(--ozBGPrimary);
            border-radius: 15px;
            text-align: center;
            display: inline;
            transform: translate(185px, 25px);
            width: 50px;
            position: absolute;
        }
    }

    .squarecheck_button {
        transform: translate(-2px, 8px);

        label {
            line-height: 19px;
            font-size: var(--bodyLFont);
            line-height: var(--bodyLLine);
            &:hover {
                cursor: pointer;
            }
        }

        input {
            z-index: 100;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 25%;
            width: 16px;
            height: 16px;
            margin-top: 4px;
            transform: translate(-1.5px, 1px);
            border: 2px solid var(--ozBGQuaternary);
            transition: 0.05s all linear;
            margin-right: 6px;
            cursor: pointer;
            position: relative;
            top: 3px;
            border: 2px solid var(--ozBGQuaternary);

            &:hover {
                border: 2px solid var(--ozAccentPrimaryLight);
                background-size: 115% 115%;
                background-image: url("@/assets/checkmark.png");
                background-position: bottom -2px right -1px;
                background-repeat: no-repeat;
                transition: background-color 0.15s, border-color 0.15s;
            }
        }

        input:checked {
            background-size: 120% 120%;
            background-image: url("@/assets/checkmark_active.png");
            background-position: bottom -2px right -1px;
            background-repeat: no-repeat;
            transition: background-color 0.15s, border-color 0.15s;
            border: 2px solid var(--ozAccentPrimary);
            background-color: var(--ozAccentPrimary);
        }
        @media (max-width: 580px) {
            display: none;
        }
    }
    .squarecheck_checkall {
        transform: translate(2px, 8px);
        color: var(--ozAccentPrimary);
        cursor: pointer;
        font-size: var(--bodyLFont);
        line-height: var(--bodyLLine);
    }
}
